.container-description {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid rgb(112, 101, 61);
    text-align: center;
    margin: auto;
    padding: 20px;
}

.title-description {
    font-weight: bold;
    text-align: center;
}

.info-description {
    width: 50%;
    margin: auto;
}

.imgs-description {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-habitaciones-descrition {
    width: 250px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width:580px) {
    .container-description {
        flex-direction: column;
        margin: auto;
    }

    .info-description {
        width: 100%;
    }
}