<div class="container-description">
    <div class="info-description">
        <h2 class="title-description">Hotel Marshall</h2>
        <div class="text-description">
            <p>Marquee Medellin is a boutique, design driven hotel created for business and leisure travelers seeking an
                unparalleled location, hotel experience, and comfort in the heart of Parque Lleras, El Poblado,
                Medellin.
                Contact us 24 hours, 7 days a week via Whatsapp chat, or call for best rates.</p>
        </div>
    </div>
    <div class="imgs-description">
        <div class="item-img-descripcion">
            <img class="img-habitaciones-descrition" src="../../assets/img/d1jpg.jpg" alt="">
        </div>
        <div class="item-img-descripcion">
            <img class="img-habitaciones-descrition" src="../../assets/img/d2.jpg" alt="">
        </div>
        <div class="item-img-descripcion">
            <img class="img-habitaciones-descrition" src="../../assets/img/d3.jpg" alt="">
        </div>
    </div>
</div>