<div class="banner">
  <div class="container form-reserva">
    <div class="row">
      <div class="col-12 p-5">
        <app-formareserva></app-formareserva>
      </div>
    </div>
  </div>
</div>
<br><br>
<section>
  <app-descripcion></app-descripcion>
</section>
<br><br>
<section>
  <div class="container">
    <h2 class="title-habitaciones text-center">Habitaciones</h2>
    <div class="row row-cols-1 g-3">
      <div class="col" *ngFor="let habitacion of habitaciones">
        <div class="card card-habitaciones h-100 w-100 shadow p-5">
          <img src={{habitacion.fotografias}} alt=" foto" class="img-fluid h-100 w-100 mb-3">
          <h4 class="text-center">{{habitacion.nombre}}</h4>
          <p>{{habitacion.descripcion}}</p>
          <div class="container-starts">
            <p>Calificacion : </p>
            <div class="start-item">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
          <button class="mt-3 w-100 p-3 btn-reserva" type="submit">Reservar</button>
        </div>
      </div>

    </div>
  </div>
</section>
<br><br>