<div class="banner">
  <div class="container form-reserva">
    <div class="row">
      <div class="col-12 p-5">
        <app-formareserva></app-formareserva>
      </div>
    </div>
  </div>
</div>
<br><br>
<section>
  <app-descripcion></app-descripcion>
</section>
<br><br>
<section>
  <div class="container">
    <h2 class="title-habitaciones text-center">Habitaciones</h2>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col" *ngFor="let habitacion of habitaciones">
        <div class="card card-habitaciones h-100 w-100 shadow p-5">
          <img src={{habitacion.fotografias}} alt=" foto" class="img-fluid h-100 w-100 mb-3">
          <h4 class="text-center">{{habitacion.nombre}}</h4>
          <p>Habitacion comoda que se adapta a tus necesidades, para pasar con tu familia</p>
          <div class="container-starts">
            <p>Calificacion : </p>
            <div class="start-item">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
          <button class="mt-3 w-100 p-3 btn-reserva" type="submit">Reservar</button>
        </div>
      </div>

    </div>
  </div>
</section>
<br><br>
<section>
  <table class="table table-description table-dark ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Servicios</th>
        <th scope="col">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Habitaciones</td>
        <td>Las habitaciones cuentan con las comodidas para todo tipo de gustos y acogedor</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Gimnasio</td>
        <td>El gimnasio cuenta con las herramientas necesarias para poder hacer los ejercicios con comodida y seguridad
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Areas Comunes</td>
        <td>Areas libres de humo donde podras trabjar sin distracciones y sin ruidos que te molesten</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Comida</td>
        <td>
          <li>Restaurante</li>
          <li>Barra de bocadillos</li>
          <li>Bar/ salón</li>
          <li>Almuerzo para llevar</li>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Para los huéspedes discapacitados</td>
        <td>
          <li>Habitaciones/ instalaciones para personas de movilidad reducida</li>
          <li>Acceso para sillas de ruedas</li>
          <li>Baños para personas con discapacidad</li>
          <li>Cuartos de baño para personas con discapacidad</li>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mascotas</td>
        <td>
          <li>Se permiten mascotas</li>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Medios de comunicación</td>
        <td>
          <li>Televisor LCD</li>
          <li>Teléfono estacionario</li>
          <li>Radio despertador AM/FM</li>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Para los niños</td>
        <td>
          <li>Televisor LCD</li>
          <li>Teléfono estacionario</li>
          <li>Radio despertador AM/FM</li>
        </td>
      </tr>
    </tbody>
  </table>
</section>